section {
    margin: 200px 0;
    border-radius: 50px;
    border-color: black;
    background-color: rgb(240, 240, 240);
    padding: 80px;
    width: fit-content;
    display: block;
    box-shadow: 10px 10px 20px #b4b4b4;
}

h1 {
    margin: 50;
}

p {
    margin-top: 5px;

     
}

.imgLogo{
    
    width: 150px;
    height: auto;
    margin: auto;
    display: block;
   
}

.img1{
    
    width: 500px;
    height: auto;
    margin: auto;
    display: block;
    
    border-radius: 20px;

}